/* SERVICES.CSS */

main {
  background-color: white;
}

main>h1 {
  text-align: center;
}

.service {
  text-align: center;
}

.service i {
  font-size: 4em;
  color: #EC630F;
  text-shadow: 1px 1px 1px black;
}

.service h2 {
  font-size: 2em;
}

.service a {
  color: #EC630F;
}