/* SERVICES.CSS */


main>h1 {
  text-align: center;
}

.service {
  text-align: center; 
  margin-top: 2em;
}

.service i {
  font-size: 4em;
  color: #EC630F;
  text-shadow: 1px 1px 1px black;
}

.service h2 {
  font-size: 2em;
  margin-top: .5em;
}

.service a {
  display: block;
  color: #EC630F;
  margin: 1em 0;
  text-decoration: underline;
}