html {
  --color-header-bg: rgb(0, 0, 0);
  --color-nav-txt: rgb(255, 255, 255);
  --color-overlay: rgba(0, 0, 0, 0.5);
  
  --color-primary: #99272D;

  --maxwidth: 1280px;

  --font-body: 'Source Sans Pro', sans-serif;

}