

nav{
  text-transform: uppercase;
}

.tablink {
  background-color: dodgerblue;
  color: var(--txtcolor);
  cursor: pointer;
}

/* .tablink:hover {
  background-color: #777;
} */

/* 
.tab .active{
  background-color: coral;
  color: dodgerblue;
} */

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-color: var(--bgcolor); */
  /* border: 10px solid dodgerblue;  */
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

}
nav ul li{
  flex: 1 1 0px;
  background-color: cadetblue;
  padding: 15px 0;
  /* border-right: 5px solid dodgerblue;
  border-left: 5px solid dodgerblue; */
}

nav ul li:hover{
  color: var(--bgcolor);
}
nav ul li{
  color:dodgerblue;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px;
}

nav ul li:focus {
  background-color: coral;
  color: var(--txtcolor);
}


.tab1{
  background-color: var(--bg-tab1);
}

.tab2{
  background-color: var(--bg-tab2);
}

.tab3{
  background-color: var(--bg-tab3);
}

.tab4{
  background-color: var(--bg-tab4);
}

.tab5{
  background-color: var(--bg-tab5);
}

#home{
  background-color: var(--bg-tab1);
}


#lectures{
  background-color: var(--bg-tab2);
}

#projects{
  background-color: var(--bg-tab3);
}

#tutorials{
  background-color: var(--bg-tab4);
}