html[data-theme='dark'] {
  --bgcolor: #212a2e;
  --fgcolor: whitesmoke;
  --primary: dodgerblue;
  --secondary: coral;
}

html[data-theme='light'] {
  --bgcolor: whitesmoke;
  --fgcolor: #212a2e;
  --primary: coral;
  --secondary: dodgerblue;
}

html{
  background-color: var(--bgcolor);
  text-color: var(--fgcolor);
  link-color: var(--secondary);
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--fgcolor);
}

a{color:var(--secondary);}

header{
  background-color: var(--primary);
}



body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

header h2{
  text-align: center;
  text-transform: uppercase;
}

.card{
  display: flex;
  flex-direction: row;
  text-align: left;
  
}

.card > div > .avatar{
  width: 100px;
  border-radius: 50px;
  margin: 20px;
}

.card > div > h3, .card > div > h2, .card > div > p{
  margin: 0 auto;
}

.card > div > .platforms{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav{
  text-transform: uppercase;
}

.tablink {
  background-color: dodgerblue;
  color: var(--fgcolor);
  cursor: pointer;
}

.tablink:hover {
  background-color: #777;
}


.tab .active{
  background-color: coral;
  color: dodgerblue;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--bgcolor);
  /* border: 10px solid dodgerblue;  */
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

}
nav ul li{
  flex: 1 1 0px;
  background-color: cadetblue;
  padding: 15px 0;
  /* border-right: 5px solid dodgerblue;
  border-left: 5px solid dodgerblue; */
}

nav ul li:hover{
  color: coral;
}
nav ul li{
  color:dodgerblue;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px;
}

nav ul li:focus {
  background-color: coral;
  color: var(--fgcolor);
}

nav ul li:hover {
  color: coral;
}

.usn-item{padding: 10px 0 5px;}

#usn-logo{
  fill: dodgerblue;
}

#usn-logo:hover{
  fill: coral;
}

#usn-logo:focus{
  background-color: coral;
  color: var(--fgcolor);
}

#toggle-darktheme{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;;
}